.founder-container {
    display: flex;
}

.founder-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Zen Antique';
    font-size: 18px;
}

.sig-special {
    background-color: #B75B48;
}

/* .paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6 , .list-of-companies, big{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
} */

.container-5 {
    padding-left: 10px;
}