body {
  margin: 0;
  background-color: #F1D3B2;
}

.header {
  background: #B75B48;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px 0 101px;
  width: 100%;
  box-sizing: border-box;
}


.events-label {
  overflow-wrap: break-word;
  font-family: 'Zen Loop';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.projects-label {
  overflow-wrap: break-word;
  font-family: 'Zen Loop';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-container {
  position: relative;
  margin: 13px 0 14px 0;
  width: auto;
  height: auto;
}

.nav-logo {
  position: absolute;
  left: 2px;
  bottom: -4px;
  width: auto;
  height: auto;
  background: 50% / cover no-repeat;
}

.clickable-tabs {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.events-tab {
  background: #B75B48;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.projects-tab {
  background: #B75B48;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 175px;
  box-sizing: border-box;
}

.signup-button {
  border-radius: 20px;
  background: #F1D3B2;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 22px 0;
  display: flex;
  padding: 20px;
  width: 145px;
  height: fit-content;
  box-sizing: border-box;
}

.signup-label {
  overflow-wrap: break-word;
  font-family: 'JejuHallasan';
  font-weight: 400;
  font-size: 20px;
  color: #46211A;
  text-decoration: none;
}

.contact-tab {
  background: #B75B48;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.contact-label {
  overflow-wrap: break-word;
  font-family: 'Zen Loop';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.signup-button:hover {
  background-color: burlywood;
}

.events-label:hover, .projects-label:hover, .contact-label:hover {
  color: yellow
}

.contact-container {
  background: #B75B48;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 130px;
  align-items: center;
}

.container-12 {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 130px;
}

.contact-us {
  margin: 0 0 10px 14.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Antique Soft';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}

.address {
  margin: 0 91.7px 0 133px;
  overflow-wrap: break-word;
  font-family: 'Zen Antique Soft';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.email {
  margin: 0 19.4px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Zen Antique Soft';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.container-8 {
  background: #46211A;
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.copyright-label {
  overflow-wrap: break-word;
  font-family: 'Zen Antique Soft';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

