body {
  margin: 0;
}

.header {
  background: #B75B48;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px 0 101px;
  width: 100%;
  box-sizing: border-box;
}

.container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.events-label {
  overflow-wrap: break-word;
  font-family: 'Zen Loop';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.projects-label {
  overflow-wrap: break-word;
  font-family: 'Zen Loop';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-container {
  position: relative;
  margin: 13px 0 14px 0;
  width: auto;
  height: auto;
}

.nav-logo {
  position: absolute;
  left: 2px;
  bottom: -4px;
  width: auto;
  height: auto;
  background: 50% / cover no-repeat;
}

.clickable-tabs {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.container-9 {
  background: #B75B48;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  /* padding: 27px 11.9px 28px 10px; */
  box-sizing: border-box;
}

.container-10 {
  background: #B75B48;
  position: relative;
  /* margin-right: 10px; */
  align-items: center;
  justify-content: center;
  display: flex;
  /* padding: 27px 0px 32px 0; */
  align-items: center;
  width: 175px;
  box-sizing: border-box;
}

.container-13 {
  border-radius: 20px;
  background: #F1D3B2;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 22px 0;
  display: flex;
  /* padding: 22px 4.6px 23px 0; */
  padding: 20px;
  width: 145px;
  height: fit-content;
  box-sizing: border-box;
}

.contact-us-button {
  overflow-wrap: break-word;
  font-family: 'JejuHallasan';
  font-weight: 400;
  font-size: 20px;
  color: #46211A;
  text-decoration: none;
}

.container-13:hover {
  background-color: burlywood;
}

.events-label:hover {
  color: yellow
}

.projects-label:hover {
  color: yellow;
}